<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous"
/>
<link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap"
        rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'css/nav.css' %}"/>
<link rel="stylesheet" href="{% static 'css/table.css' %}"/>
<body>
<header>
    <div>
        <i class="fas fa-plane"></i>
        <p>Travel</p>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
</header>

<h1>Vehicle History</h1>

<table class="content-table">
    <caption class="caption">
        Vehicle History
    </caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Register number</th>
        <th>Type</th>
        <th>No of seats</th>
        <th>Price</th>
        <th>Updated at</th>

    </tr>
    </thead>
    <tbody>
    {% for vehicle in vehicles %}
        <tr>
            <td>{{ vehicle.vehicle.name }}</td>
            <td>{{ vehicle.vehicle.reg_no }}</td>
            <td>{{ vehicle.vehicle.type }}</td>
            <td>{{ vehicle.vehicle.seats }}</td>
            <td>{{ vehicle.old_multiplier }} <i class="fas fa-arrow-right"></i> {{ vehicle.new_multiplier }}</td>
            <td>{{ vehicle.created_at }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>